## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
print('row count: {}\r\ncol count: {}'.format(app_train.shape[1], app_train.shape[0]))

row count: 122
col count: 307511

#### 列出所有欄位

In [6]:
column_list = app_train.columns.values
for i in range(column_list.size):
    print('Column{}:\t{}'.format(i, column_list[i]))

Column0:	SK_ID_CURR
Column1:	TARGET
Column2:	NAME_CONTRACT_TYPE
Column3:	CODE_GENDER
Column4:	FLAG_OWN_CAR
Column5:	FLAG_OWN_REALTY
Column6:	CNT_CHILDREN
Column7:	AMT_INCOME_TOTAL
Column8:	AMT_CREDIT
Column9:	AMT_ANNUITY
Column10:	AMT_GOODS_PRICE
Column11:	NAME_TYPE_SUITE
Column12:	NAME_INCOME_TYPE
Column13:	NAME_EDUCATION_TYPE
Column14:	NAME_FAMILY_STATUS
Column15:	NAME_HOUSING_TYPE
Column16:	REGION_POPULATION_RELATIVE
Column17:	DAYS_BIRTH
Column18:	DAYS_EMPLOYED
Column19:	DAYS_REGISTRATION
Column20:	DAYS_ID_PUBLISH
Column21:	OWN_CAR_AGE
Column22:	FLAG_MOBIL
Column23:	FLAG_EMP_PHONE
Column24:	FLAG_WORK_PHONE
Column25:	FLAG_CONT_MOBILE
Column26:	FLAG_PHONE
Column27:	FLAG_EMAIL
Column28:	OCCUPATION_TYPE
Column29:	CNT_FAM_MEMBERS
Column30:	REGION_RATING_CLIENT
Column31:	REGION_RATING_CLIENT_W_CITY
Column32:	WEEKDAY_APPR_PROCESS_START
Column33:	HOUR_APPR_PROCESS_START
Column34:	REG_REGION_NOT_LIVE_REGION
Column35:	REG_REGION_NOT_WORK_REGION
Column36:	LIVE_REGION_NOT_WORK_REGION
Column37:	REG_CITY_NOT_LIVE_CITY
Column38:	REG_CITY_NOT_WORK_CITY
Column39:	LIVE_CITY_NOT_WORK_CITY
Column40:	ORGANIZATION_TYPE
Column41:	EXT_SOURCE_1
Column42:	EXT_SOURCE_2
Column43:	EXT_SOURCE_3
Column44:	APARTMENTS_AVG
Column45:	BASEMENTAREA_AVG
Column46:	YEARS_BEGINEXPLUATATION_AVG
Column47:	YEARS_BUILD_AVG
Column48:	COMMONAREA_AVG
Column49:	ELEVATORS_AVG
Column50:	ENTRANCES_AVG
Column51:	FLOORSMAX_AVG
Column52:	FLOORSMIN_AVG
Column53:	LANDAREA_AVG
Column54:	LIVINGAPARTMENTS_AVG
Column55:	LIVINGAREA_AVG
Column56:	NONLIVINGAPARTMENTS_AVG
Column57:	NONLIVINGAREA_AVG
Column58:	APARTMENTS_MODE
Column59:	BASEMENTAREA_MODE
Column60:	YEARS_BEGINEXPLUATATION_MODE
Column61:	YEARS_BUILD_MODE
Column62:	COMMONAREA_MODE
Column63:	ELEVATORS_MODE
Column64:	ENTRANCES_MODE
Column65:	FLOORSMAX_MODE
Column66:	FLOORSMIN_MODE
Column67:	LANDAREA_MODE
Column68:	LIVINGAPARTMENTS_MODE
Column69:	LIVINGAREA_MODE
Column70:	NONLIVINGAPARTMENTS_MODE
Column71:	NONLIVINGAREA_MODE
Column72:	APARTMENTS_MEDI
Column73:	BASEMENTAREA_MEDI
Column74:	YEARS_BEGINEXPLUATATION_MEDI
Column75:	YEARS_BUILD_MEDI
Column76:	COMMONAREA_MEDI
Column77:	ELEVATORS_MEDI
Column78:	ENTRANCES_MEDI
Column79:	FLOORSMAX_MEDI
Column80:	FLOORSMIN_MEDI
Column81:	LANDAREA_MEDI
Column82:	LIVINGAPARTMENTS_MEDI
Column83:	LIVINGAREA_MEDI
Column84:	NONLIVINGAPARTMENTS_MEDI
Column85:	NONLIVINGAREA_MEDI
Column86:	FONDKAPREMONT_MODE
Column87:	HOUSETYPE_MODE
Column88:	TOTALAREA_MODE
Column89:	WALLSMATERIAL_MODE
Column90:	EMERGENCYSTATE_MODE
Column91:	OBS_30_CNT_SOCIAL_CIRCLE
Column92:	DEF_30_CNT_SOCIAL_CIRCLE
Column93:	OBS_60_CNT_SOCIAL_CIRCLE
Column94:	DEF_60_CNT_SOCIAL_CIRCLE
Column95:	DAYS_LAST_PHONE_CHANGE
Column96:	FLAG_DOCUMENT_2
Column97:	FLAG_DOCUMENT_3
Column98:	FLAG_DOCUMENT_4
Column99:	FLAG_DOCUMENT_5
Column100:	FLAG_DOCUMENT_6
Column101:	FLAG_DOCUMENT_7
Column102:	FLAG_DOCUMENT_8
Column103:	FLAG_DOCUMENT_9
Column104:	FLAG_DOCUMENT_10
Column105:	FLAG_DOCUMENT_11
Column106:	FLAG_DOCUMENT_12
Column107:	FLAG_DOCUMENT_13
Column108:	FLAG_DOCUMENT_14
Column109:	FLAG_DOCUMENT_15
Column110:	FLAG_DOCUMENT_16
Column111:	FLAG_DOCUMENT_17
Column112:	FLAG_DOCUMENT_18
Column113:	FLAG_DOCUMENT_19
Column114:	FLAG_DOCUMENT_20
Column115:	FLAG_DOCUMENT_21
Column116:	AMT_REQ_CREDIT_BUREAU_HOUR
Column117:	AMT_REQ_CREDIT_BUREAU_DAY
Column118:	AMT_REQ_CREDIT_BUREAU_WEEK
Column119:	AMT_REQ_CREDIT_BUREAU_MON
Column120:	AMT_REQ_CREDIT_BUREAU_QRT
Column121:	AMT_REQ_CREDIT_BUREAU_YEAR

#### 截取部分資料

In [9]:
#擷取第 3 筆到第 8 筆 資料
dfObj =  pd.DataFrame(app_train, columns = column_list)
for i in range(3,8):
    print('{}\r\n'.format(dfObj.iloc[i]))

SK_ID_CURR                        100006
TARGET                                 0
NAME_CONTRACT_TYPE            Cash loans
CODE_GENDER                            F
FLAG_OWN_CAR                           N
                                 ...
AMT_REQ_CREDIT_BUREAU_DAY            NaN
AMT_REQ_CREDIT_BUREAU_WEEK           NaN
AMT_REQ_CREDIT_BUREAU_MON            NaN
AMT_REQ_CREDIT_BUREAU_QRT            NaN
AMT_REQ_CREDIT_BUREAU_YEAR           NaN
Name: 3, Length: 122, dtype: object

SK_ID_CURR                        100007
TARGET                                 0
NAME_CONTRACT_TYPE            Cash loans
CODE_GENDER                            M
FLAG_OWN_CAR                           N
                                 ...
AMT_REQ_CREDIT_BUREAU_DAY              0
AMT_REQ_CREDIT_BUREAU_WEEK             0
AMT_REQ_CREDIT_BUREAU_MON              0
AMT_REQ_CREDIT_BUREAU_QRT              0
AMT_REQ_CREDIT_BUREAU_YEAR             0
Name: 4, Length: 122, dtype: object

SK_ID_CURR                        100008
TARGET                                 0
NAME_CONTRACT_TYPE            Cash loans
CODE_GENDER                            M
FLAG_OWN_CAR                           N
                                 ...
AMT_REQ_CREDIT_BUREAU_DAY              0
AMT_REQ_CREDIT_BUREAU_WEEK             0
AMT_REQ_CREDIT_BUREAU_MON              0
AMT_REQ_CREDIT_BUREAU_QRT              1
AMT_REQ_CREDIT_BUREAU_YEAR             1
Name: 5, Length: 122, dtype: object

SK_ID_CURR                        100009
TARGET                                 0
NAME_CONTRACT_TYPE            Cash loans
CODE_GENDER                            F
FLAG_OWN_CAR                           Y
                                 ...
AMT_REQ_CREDIT_BUREAU_DAY              0
AMT_REQ_CREDIT_BUREAU_WEEK             0
AMT_REQ_CREDIT_BUREAU_MON              1
AMT_REQ_CREDIT_BUREAU_QRT              1
AMT_REQ_CREDIT_BUREAU_YEAR             2
Name: 6, Length: 122, dtype: object

SK_ID_CURR                        100010
TARGET                                 0
NAME_CONTRACT_TYPE            Cash loans
CODE_GENDER                            M
FLAG_OWN_CAR                           Y
                                 ...
AMT_REQ_CREDIT_BUREAU_DAY              0
AMT_REQ_CREDIT_BUREAU_WEEK             0
AMT_REQ_CREDIT_BUREAU_MON              0
AMT_REQ_CREDIT_BUREAU_QRT              0
AMT_REQ_CREDIT_BUREAU_YEAR             0
Name: 7, Length: 122, dtype: object

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子